.card{

    width: 25vw;
    height: 25vh;
    border-radius: 10px;
    margin: 1vh 0;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tag{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    height: 20%;
    text-align: center;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25%;
}
.buttonDesign{
    border-radius: 10px;
}